*{
    margin: 0px;
}

/* HEADER CSS */

.header{
    background-color: rgb(2, 2, 50);
    display: flex;
    gap: 75px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    position: relative;
    animation: header 1s;

}
.menu{
    display: none;
}
.header a{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
.header a:hover{
    font-size: 15px;
    background-color: #eb0c0c;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}
.five{
    display: flex;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
.stars{
    color: white;
    padding-top: 10px;
    margin-right: 20px;
    gap: 25px;
}
.stars h1{
    padding-top: 0px;
}
.header ul button{
    background-color: green;
    border-radius: 20px;
    width: 110px;
    height: 40px;
}
@media (max-width: 768px) {
    .header{
        flex-direction: column;
        padding-left: 0%;
    }
    .five{
        display: flex;
        gap: 0px;
        font-size: 13PX;
        padding-top: 0px;
        margin-top: 0px;
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 20px;
        padding-top: 10px;
        display: block;
    }
    .header a{
        display: none;
    }
    .header a{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        text-decoration: none;
    }
    
}

/* HEADER END  */





/* START PROJECT */


/* IMAGE PART  */

.back1{
    background-image: linear-gradient(rgba(0,0,0,0.8)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEHk5783fMPXF4DOXVsyj4L52--NVfKZ8mA&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    height: 500px;
    position: relative;
    animation: IMAGE 1s;
}


/* IMAGE ANIMATIONS */

@keyframes IMAGE {
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
    }
    
}


@media (max-width: 768px) {
    .back1{
        background-position: center;
    }
    
}

@keyframes header {
    from{
        transform: scale(0);
        box-shadow: 2 2 2 2 blue;
    }
    

    to{
        transform: scale(5);
    }

    from{
        transform: translate(0px, -500px);
    }

    to{
        transform: translate(0px);
    }
    
}



.H1{
    margin-left: 550px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 140px;
    height: 35px;
    padding-left: 15px;
    background-color: blue;
    color: white;
    animation: h1 1s;
}

/* SOME ANIMATIONS  */

@keyframes h1 {
    from{
        transform: scale(0.5);
    }
    t0{
        transform: scale(1.6);
    }
}


@keyframes IMAGE {
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
    }
    
}


/* RESPONSIVE */

@media (max-width: 768px) {
    .H1{
        margin-left: 50px;
    }
    .g2{
        flex-direction: column;
    }
}
.g2{
    display: flex;
    gap: 125px;
    margin-left: 30px;
    margin-bottom: 30px;
    
}



/* SOME Animations  */

@keyframes anim1 {
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(10px);
    }
}
@keyframes anim2 {
    from{
        transform: translate(0px, 700px);
    }
    to{
        transform: translate(10px);
    }
}
@keyframes anim3 {
    from{
        transform: translate(700px);
    }
    to{
        transform: translate(10px);
    }
}
.g3 {
    background-color: antiquewhite;
    color: #000;
    width: 350px;
    height: 350;
    animation: anim1 1s;
}
.g4 {
    background-color: antiquewhite;
    color: #000;
    width: 350px;
    height: 350;
    animation: anim2 1s;
}
.g5
{
    background-color: antiquewhite;
    color: #000;
    width: 350px;
    height: 350;
    animation: anim3 1s;
}

.g3 p{
    font-size: 20px;
    padding-left: 18px;

}
.g5 p{
    font-size: 20px;
    padding-left: 19px;

}
.g4 p{
    font-size: 20px;
    padding-left: 19px;

}
.g4 h1{
    color: blue;
    margin-top: 20px;
    margin-bottom: 15px;
}
.g3 h2{
    color: blue;
    margin-top: 20px;
    margin-bottom: 15px;
}
.g5 h1{
    color: blue;
    margin-top: 20px;
    margin-bottom: 15px;
}
.q1 .H{
    padding-top: 15px;
    margin-left: 50px;
}
.q1 p{
    font-size: 24px;
    margin-top: 15px;
}

.posi{
    position: absolute;
    top: 300px;
    left: 100px;
    font-size: 30px;
    animation: IMAGE 1s;
}
.posi h1{
    background-color: yellow;
    width: 800px;
    height: 150px;
    border-radius: 15px;
    padding-left: 20px;
}
.posi button{
    background-color: green;
    color: white;
    width: 150px;
    height: 35px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .posi{
        position: absolute;
        left: 0px;
    }
    .posi h1{
        font-size: 25px;
        width: 350px;
        height: 80px;
    }
    .posi button{
        margin-left: 80px;
    }
    
}
/* END PROJECT */


/* footer */

.footer{
    background-color: rgb(2, 2, 50);
    color: white;
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 490px;
    animation: footer 1s;
}


@keyframes footer {
    0%{
        transform: translate(0px, 900px);
    }
    100%{
        transform: translate(0px);
    }
   
}

.last{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.cont1 H2{
    color: GREEN;
}

.cont1{
    font-size: 30px;
}
.cont1 p{
    margin-top: 20px;
    padding-top: 10px;
}
.btns button{
    display: flex;
    margin-top: 100px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.btns button:hover{
    font-size: 25px;
    width: 250px;
    height: 50px;
}
.bashal{
    position: absolute;
    top: 25px;
    left: 40px;
    color: green;
}

.company{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    padding-left: 1100px;
    font-size: 30px;
}

.company i{
    color: green;
}

.footer h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: green;
}


/* RESPONSOVE FOOTER */


@media (max-width: 768px) {
    .footer{
    height: 1220px;
    margin: 10px;
        
    }


    .company{
        padding-left: 0%;
    }
    .footer h3{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .cont1{
        flex-direction: column;
    }
    .last{
        flex-direction: column;
        width: 100%;
    }
    .text1{
        position: absolute;
        background-size: cover;
        background-position: center;
        left: 20px;
        top: 200px;
       

    }
    .text1 h1{
        font-size: 30px;
    }
    .text1 p{
        font-size: 19px;
    }

    .background{
        position: relative;
    }

}

