*{
    margin: 0px;
}

.header{
    background-color: rgb(2, 2, 50);
    display: flex;
    gap: 50px;
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;

}
.menu{
    display: none;
}
.header a{
    display: flex;
    gap: 70px;
    list-style: none;
    margin-left: 20px;
    font-size: 26px;
    text-decoration: none;
    color: white;
    animation: header 2s;
}

.header a:hover{
    font-size: 15px;
    background-color: #eb0c0c;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}
.five{
    display: flex;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
.stars{
    color: white;
    padding-top: 10px;
    margin-right: 20px;
    gap: 25px;
}
.stars h1{
    padding-top: 0px;
}
@media (max-width: 768px) {
    .header{
        flex-direction: column;
        padding-left: 0%;
    }
    .five{
        display: flex;
        gap: 0px;
        font-size: 13PX;
        padding-top: 0px;
        margin-top: 0px;
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 20px;
        padding-top: 10px;
        display: block;
    }
    .header a{
        display: none;
    }
    .header a{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        text-decoration: none;
    }
    
}



@keyframes header {
    0%{
        transform: translate(0px, 900px);
    }

    100%{
        transform: translate(0px);
    }
    
}


.image img{
    margin-top: 50px;
    background-color: darkolivegreen;
    width: 1300px;
    height: 500px;
    margin: 50px;
    animation: IMAGE 1s ;
}


@keyframes IMAGE {
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
    }
    
}

@media (max-width: 768px) {
    .image img{
        width: 400px;
        height: 300px;
        margin-left: 0px;
    }

    .g2{
        flex-direction: column;
        position: relative;
    }
    .g2 a{
        position: absolute;
        top: 200px;
        left: 10px;
        bottom: 0px;
    }
    .q2 h1{
        margin-left: 0px;
        width: 300px;
        height: 40px;
        font-size: 18px;

    }
}


.q1{
    margin: 20px;
}

.q2{
    margin: 20px;
    margin-top: 100px;
}
.q2 H1{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    animation: text 5s;
}


@keyframes text {
    0%{
        transform: scale(0);
        background-color: aquamarine;
    }
    25%{
        transform: scale(0.4);
        background-color: blue;
        color: white;
    }
    50%{
        transform: scale(0.8);
        background-color: black;
        color: white;
    }
    75%{
        transform: scale(1.1);
        text-shadow: 10px 10px 10px 10px black;
    }
    100%{
        transform: scale(1.5);
        box-shadow: 100px 10px 10px 10px green;
    }
}


.g2{
    position: relative;
    padding: 20PX;
    margin: 10px;
    display: flex;
    gap: 50px;
    animation: g2 1s;
}

@keyframes g2 {
    from{
        transform: translate(700px);
    }

    to{
        transform: translate(0px);
    }
}

.balcad{
    margin-left: 20px;
    width: 300px;
}
.balcad p{
    font-size: 25px;
    margin-top: 5px;
}
.balcad h2{
    font-size: 35px;
}
.afgooye{
    margin-left: 20px;
}
.afgooye p{
    font-size: 20px;
    margin-top: 5px;
}
.afgooye h2{
    font-size: 29px;
    margin-top: 10px;
}
.jasiira{
    margin-left: 20px;
}
.jasiira p{
    font-size: 22px;
    margin-top: 5px;
}
.jasiira h2{
    font-size: 24px;
    margin-top: 10px;
}
.warsheikh{
    margin-left: 20px;
}
.warsheikh p{
    font-size: 25px;
    margin-top: 5px;
}
.warsheikh h2{
    font-size: 30px;
    margin-top: 10px;
}

.g2 a{
    background-color: rgb(2, 2, 50);
    color: white;
    position: absolute;
    top: 400px;
    margin: 50px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}
.g2 a:hover{
    background-color: aqua;
    color: black;
    transform: scale(0.5);
    transform: scale(1);

}


.footer{
    background-color: rgb(2, 2, 50);
    color: white;
    position: relative;
    width: 100%;
    height: 490px;
    margin-top: 100px;
    animation: footer 1s;
}


@keyframes footer {
    from{
        transform: translate(0px, 700px);
    }
    to{
        transform: translate(0px);
    }
 
    
}

.last{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}


.cont1 H2{
    color: GREEN;
}

.cont1{
    font-size: 30px;
}
.cont1 p{
    margin-top: 20px;
    padding-top: 10px;
}
.btns button{
    display: flex;
    margin-top: 100px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.btns button:hover{
    font-size: 25px;
    width: 250px;
    height: 50px;
}
.bashal{
    position: absolute;
    top: 25px;
    left: 40px;
    color: green;
}

.company{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    padding-left: 1100px;
    font-size: 30px;
}

.company i{
    color: green;
}

.footer h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: green;
}



@media (max-width: 768px) {
    .footer{
    height: 1200px;
    margin: 10px;
        
    }


    .company{
        padding-left: 0%;
        margin-bottom: 0px;
    }
    .footer h3{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .cont1{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .last{
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
    }
    .text1{
        position: absolute;
        background-size: cover;
        background-position: center;
        left: 20px;
        top: 200px;
       

    }
    .text1 h1{
        font-size: 30px;
    }
    .text1 p{
        font-size: 19px;
    }

    .background{
        position: relative;
    }

}

