
*{
    margin: 0px;
}

.header{
    background-color: rgb(2, 2, 50);
    display: flex;
    gap: 70px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    position: relative;

}
.menu{
    display: none;
}
.header a{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 10px;
    font-size: 26px;
    text-decoration: none;
    color: white;
}

.header a:hover{
    font-size: 15px;
    background-color: #eb0c0c;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}
.five{
    display: flex;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
.stars{
    color: white;
    padding-top: 10px;
    margin-right: 20px;
    gap: 25px;
}
.stars h1{
    padding-top: 0px;
}
@media (max-width: 768px) {
    .header{
        flex-direction: column;
        padding-left: 0%;
    }
    .five{
        display: flex;
        gap: 0px;
        font-size: 13PX;
        padding-top: 0px;
        margin-top: 0px;
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 20px;
        padding-top: 10px;
        display: block;
    }
    .header a{
        display: none;
    }
    .header a{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        text-decoration: none;
    }
    
}


@media (max-width: 600px) {

  .regist {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 10px auto;
  }

  .inp1, .inp2, .inp3, .inp4, .inp5, .inp6 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .f input, .f1 input, .f2 input, .f3 input, .f4 input, .f5 input, select {
    width: 100%;
    margin-top: 20px;
  }

  .btn {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.regist{
    background-color: aliceblue;
    width: 900px;
    height: 500px;
    margin: 50px;
    padding: 50px;
   
}
.regist h1{
    align-items: center;
    text-align: center;
    color: blue;
    animation: h1 1s;
}

@keyframes h1 {
    from{
        transform: scale(0.5);
    }
    t0{
        transform: scale(1.6);
    }
}


.all{
    padding: 20px;
    margin: 20px;
    animation: input 2s;
}
@keyframes input {
    from{
        transform: scale(0.5);
    }
    t0{
        transform: scale(1.6);
    }
}


.all input:hover{
    transform: scale(1);
    background-color: aqua;
    font-size: 30px;
}



@media (max-width: 768px) {
    .regist{
        width: 330px;
        height: 1000px;
        margin-left: 0px;
    }
    
}
.f{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
}
.f1{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-left: 0px;
}

.f1 input{
    width: 300px;
    height: 30px;
    background-color: azure;
}
.f2{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-left: 0px;
}

.f2 input{
    width: 300px;
    height: 30px;
    background-color: azure;
}
.f3{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-left: 0px;
}

.f3 input{
    width: 300px;
    height: 30px;
    background-color: azure;
}
.f4{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-left: 0px;
}

.f4 input{
    width: 300px;
    height: 30px;
    background-color: azure;
}
.f5{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-left: 0px;
}

.f5 input{
    width: 300px;
    height: 30px;
    background-color: azure;
}

.f input{
    width: 300px;
    height: 30px;
    background-color: azure;
}
.f input{
    width: 300px;
    height: 30px;
    background-color: azure;
}
.inp1{
    display: flex;
    gap: 20px;
    margin: 20px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.inp1 input{
    font-size: 20px;
}
.inp2{
    display: flex;
    gap: 0px;
    margin: 20px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.inp6{
    display: flex;
    gap: 30px;
    margin: 20px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.inp2 input{
    font-size: 20px;
}
.f label{
    display: flex;
    
}
.inp3{
    display: flex;
    gap: 0px;
    margin: 20px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.inp3 input{
    font-size: 20px;
}
.f label{
    display: flex;
    
}
.inp4{
    display: flex;
    gap: 20px;
    margin: 20px;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}
.inp4 input{
    font-size: 20px;
}
.inp5{
    display: flex;
    gap: 20px;
    margin: 20px;
    margin-bottom: 30px;
     align-items: center;
    text-align: center;
}
.inp5 input{
    font-size: 20px;
    padding-left: 0px;
}
.inp7{
    padding-left: 20px;

}
.btn button{
    background-color: green;
    width: 100px;
    height: 30px;
    margin-left: 50px;
    align-items: start;
    text-align: start;
    text-align: center;
    font-size: 20px;
    color: white;
    animation: a 4s infinite;

}

@keyframes a {
    0%{
        transform: rotate(0deg);
        background-color: aqua;
    }
    25%{
        transform: rotate(100deg);
        box-shadow: 10px 10px 10px 5px green;
    }
    50%{
        transform: rotate(180deg);
        text-shadow: 10px 10px 10px 10px black;
    }

    75%{
        transform: rotate(275deg);
        background-color: blueviolet;
        font-weight: bold;
    }
    100%{
        transform: rotate(360deg);
        background-color: #eb0c0c;
        color: aliceblue;
        font-size: 25px;
    }
}

.hoos{
    margin: 0px;
    padding: 0px;
   align-items: center;
   display: flex;
   gap: 20px;
}

.btn{
    display: flex;
    gap: 20px;

}
.btn p{
    margin-top: 5px;
    font-size: 20px;
    color: gray;
}








.footer{
    background-color: rgb(2, 2, 50);
    color: white;
    position: relative;
    width: 100%;
    height: 500px;
}

.last{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.cont1 H2{
    color: GREEN;
}

.cont1{
    font-size: 30px;
}
.cont1 p{
    margin-top: 20px;
    padding-top: 10px;
}
.btns button{
    display: flex;
}
.btn1 button{
    margin-top: 100px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
}
.btn2 button{
    margin-top: 20px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
}
.btns button:hover{
    font-size: 25px;
    width: 250px;
    height: 50px;
}
.bashal{
    position: absolute;
    font-size: 23px;
    font-weight: bold;
    top: 20px;
    left: 15px;
    color: green;
}

.company{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    padding-left: 1100px;
    font-size: 30px;
}

.company i{
    color: green;
}

.footer h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: green;
}



@media (max-width: 768px) {
    .footer{
    height: 1120px;
    margin: 10px;
        
    }


    .company{
        padding-left: 0%;
    }
    .footer h3{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .cont1{
        flex-direction: column;
    }
    .last{
        flex-direction: column;
        width: 100%;
    }
    .text1{
        position: absolute;
        background-size: cover;
        background-position: center;
        left: 20px;
        top: 200px;
       

    }
    .text1 h1{
        font-size: 30px;
    }
    .text1 p{
        font-size: 19px;
    }

    .background{
        position: relative;
    }

}

